

{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('part_delete', {id: part.id}) }}" method="POST">
        <fieldset>
            <legend>Delete Part</legend>

            <div>
                <label for="part_name">Part Name</label>
                <input type="text" id="part_name" placeholder="Part Name"
                       name="part[name]" value="{{ part.name }}" disabled>
            </div>
            <div>
                <label for="part_price">Part Price</label>
                <input type="text" id="part_price" placeholder="Part Price"
                       name="part[price]" value="{{ part.price }}" disabled>
            </div>
            <div>
                <label for="quantity">Part Quantity</label>
                <input type="text" id="quantity" placeholder="Part Quantity"
                       name="part[quantity]" value="{{ part.quantity }}" disabled>
            </div>
            <div>
                <label for="supplier">Part Supplier</label>
                <select name="supplier" disabled>
                    <option value="{{ part.supplier.name }}"></option>
                </select>
            </div>
            {{ form_row(form._token) }}

            <div>
                <p class="danger">Are your shure, that your want to delete that part?</p>
                <a class="btn" href="{{ path('parts_all') }}">Cancel</a>
                <button type="submit" class="btn">Delete</button>
            </div>
        </fieldset>
    </form>
{% endblock %}